/* font-family: 'Dosis', sans-serif;
font-family: 'Lato', sans-serif; */

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  
  
}

.main{
  display: grid;
  grid-template-columns:  auto minmax(200px, 850px) auto;
  grid-template-areas: "main-left body main-right ";

}
.content-wrapper{
  grid-area: body;
}


.text {
  color: #fff;
  letter-spacing: 1.6px;
  line-height: 1.6px;

}

/* ******** MAIN TITLES */


.name-title, .welcome-text {
  text-align: center;
  align-self: center;
  justify-self: center;

}

.welcome-text{
  color: #fff;
  letter-spacing: .4em;
  padding: 1em;
}

.name-title{
  margin-top: 0;
  padding-top: 30px;
  font-family: 'Dosis', sans-serif;
}

/* *********** IMAGE STYLES */

#top-hat{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 300px;
}

#fedora{
  display: block;
  margin-top: 15em;
  margin-bottom: 10em;
  margin-left: auto;
  margin-right: auto;
  height: 220px;
  width: 300px;
}

#reporter-hat{
  display: block;
  margin-top: 15em;
  margin-bottom: 10em;
  margin-left: auto;
  margin-right: auto;
  height: 220px;
  width: 270px; 
}


/* *********** ABOUT STYLES */
.about-wrapper{
  background-color: rgb(106,27,154);
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  text-align: center;
  letter-spacing: 1.6px;
  line-height: 1.6;

}

.about-text-wrapper{
  padding: 2em;
  border-radius: 3%;
}


/* ******** Project Styles */

.project-section-title, .blogs-section-title, .contact-header{
  color: #fff;
  font-size: 3em;
  text-align: center;
  align-self: center;
  justify-self: center;
  margin: 1.5em;
}

.projects-wrapper{
  background-color: rgb(75,163,199);
  padding: 1em;
  
}

.projects-headers, .blog-sub-heading{
  color: #fff;
  text-align: center;
  align-self: center;
  justify-self: center; 
  margin: 2em;
  letter-spacing: 1.5px;
}

.project-detail-div {
  padding: 1em;
  border-top: 1px solid #000;
  letter-spacing: 1.3px;
  line-height: 1.2;
}

.project-header {
  font-size: 150%;
}

.project-detail-desc {
  font-size: 95%; 
  font-weight: 500;
  line-height: 140%;

}

.project-detail-tech{
  font-size: 75%;  
  font-weight: 500;
  line-height: 140%;
}


/* ******* BLOG SYTLES */
.blogs-details-wrapper{
  background-color: rgb(75,163,199, .3);
  padding: .2em;
 
}
.blog-detail-wrapper{
  background-color: rgb(106,27,154);
  margin: .5em;
  padding: .8em;
}

.blog-detail-header{
  margin: 0;
  margin-bottom: .5em;
  letter-spacing: 1.3px;
  line-height: 1.2;
}

.blog-detail-desc{
  margin: 0;
  font-weight: 150;
  color: #fff;
  opacity: .8;

}

/* ********* CONTACT STYLES */
.contact-header{
  color: #fff;
  font-size: 2.5em;
  text-align: center;
  align-self: center;
  justify-self: center;
  margin: 1.5em;
}
.contact-wrapper{
  justify-self: center;
  justify-content: center;
}

.contact-icon-wrapper{
  background-color: rgb(106,27,154, .6);
  padding: .5em;
  display: grid;
  grid-template-columns: auto .75fr .75fr .75fr auto;
  grid-column-gap: .5fr;
  grid-template-areas: " left github linkedin email right";


}

.git-hub-wrapper{
  grid-area: github;
  justify-self: center;

}

.linked-in-wrapper{
  grid-area: linkedin;
  justify-self: center;

}

.email-icon-wrapper{
  grid-area: email;
  justify-self: center;
  align-items: center;

}
.git-hub-icon, .linked-in-icon{
  height: 6em;
  width: 6em;
  margin: 0;
  justify-self: center;
}
.git-hub-label, .linked-in-label{
  margin-top: 0;
  font-size: 1em;
  text-align: center;
  justify-self: center; 
  
}
.email-icon{
  height: 6em;
  width: 6em;
  margin: 0;
  padding-left: 3em;
}
.email-icon-label{
  
  margin-top: .8em;
  font-size: .9em;
  text-align: center;
  justify-self: center;  
}


